$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.ng-hide {
  /* this is just another form of hiding an element */
  display:block!important;
  position:absolute;
  top:-9999px;
  left:-9999px;
}

body {
  background-color: #e3ddcd;
  padding-bottom: 20px;
}

.frontpage-container {
  font-size: 0.9em;

  .container {
    border: 20px solid #d61e24;
    overflow: hidden;
  }

  h1 {
      color: #d61e24;
      font-family: 'Habibi', serif;
      margin: 0;
      font-size: 13em;
      line-height: 1em;
      width: 100%;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
  }

  .main-header {
      font-family: 'Lato', sans-serif;
      width: 100%;
      font-weight: normal;
      text-align: center;
      line-height: 1em;
      font-size: 2.1em;
      margin: 10px 0 0 0;
      text-transform: capitalize;
  }

  .main-photo {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  .photo-title {
    position: relative;
    margin-top: 140px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 278px;
    text-align: center;
    z-index: 10;

    div {
      display: inline-block;
    }

    .content1, .content2 {
        background-color: rgba(0,0,0,0.75);
        border-radius: 10px;
        color: #fff;
        min-width: 347px;
        min-height: 67px;
        font-family: 'Open Sans', sans-serif;
        font-size: 5.5em;
        line-height: 1.1em;
        text-transform: uppercase;
        margin-bottom: 10px;
        position: relative;
        padding: 0 15px;
    }

    .content1 {
      left: -30px;
    }

    .content2 {
      left: 30px; 
    }
    .content3 {
        background-color: rgba(255,255,255,0.90);
        border-radius: 5px;
        color: #000;
        width: 411px;
        z-index: 10;
        font-size: 1em;
        line-height: 1.1em;
        text-transform: uppercase;
        padding: 10px 5px;
    }

  }
}

.frontpage-options {
  text-align: center;
  margin-top: 10px;
}

.form-group input[type="text"] {
  margin-bottom: 10px;
}

/* Fix problems with the width of the form elements */
input[type="text"], textarea {
   /* @include box-sizing(border-box);*/
    -moz-box-sizing: border-box;
    /*box-sizing: border-box;*/
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media screen and (min-width: 600px) {
  .frontpage-container {
    font-size: 1em;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

